body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

.headshot {
    width: 50%;
    border-radius: 50%;
}

.section {
    padding-top: 200px;
    padding-bottom: 200px;
}

.headline {
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.content {
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#my-junimo {
    background-color: rgb(236, 200, 120);
    /* background-image: url("/images/myjunimo-splash.png");
    background-size: cover; */
}

#watchparty {
    background-color: rgb(251,192,59);
    /* background-image: url("/images/img-placeholder.jpg"); */
    /* background-size: cover; */
}

#burger {
    background-color: rgb(225,27,19);
    /* background-image: url("/images/burger-title.png");
    background-size: cover; */
}

#sentai {
    background-color: rgb(63, 74, 230);
}

#medic {
    background-color: rgb(58,95,95);
}

/* div {
    border: 2px solid black;
} */