body {
    font-family: 'Raleway', sans-serif;
}

.headshot {
    width: 50%;
    border-radius: 50%;
}

.section {
    padding-top: 200px;
    padding-bottom: 200px;
}

.headline {
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.content {
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#my-junimo {
    background-image: url("/images/splash.png");
}

#watchparty {
    /* background-image: url("/images/img-placeholder.jpg"); */
    background-color: rgb(251,192,59);
    background-size: cover;
    border-top: 1px solid black;
}

#burger {
    background-image: url("/images/title_screen.png");
    background-size: cover;
}

/* div {
    border: 2px solid black;
} */